
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/** 
*   Bootstrap Overrides
*/
.navbar-inverse .navbar-brand {
    color: darken($text-color, 70%);
}

.navbar-inverse .navbar-nav > li > a {
    color: darken($text-color, 70%);
}
/**
*   End Bootstrap Override
*/

html, body {
    background-color: #fff;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

#npc-page {
    width: 100%;
    height: auto;
}

#npc-page > #header {
    background-image: url("/img/postcodes_ng_bkgrnd_image1.png");
    background-repeat:no-repeat;
    background-size:contain !important;
    background-position:center;
    border-bottom: 5px $brand-warning solid;
    background-color: rgba(0,0,0,0.5);
}

#npc-page > #header .header-title{
    padding: 1em 0em 0em 0em;
    text-align: center;
    font-size: 400%;
    color: white;
    font-weight: bold;
}

#npc-page > #header .header-content{
    padding: 3em 0em 3em 0em;
    text-align: center;
    font-size: 30px;
    color: #000033;
}

.npc-secondary-nav {
    max-width: 100%;
    height: auto;
    margin: auto;
    background-color: #b9ea5d;
}

.npc-secondary-nav ul li {
    color: #ffffff;
}

@media all and ( max-width: 380px ) {
    #npc-page > #header .header-title{
        font-size: 350%;
    }
}

.npc-logo-img {
    max-width: 100%;
    height: auto;
}

.npc-404-page-img {
    max-width: 100%;
    height: 31px;
}

.content {
    text-align: center;
}

.title {
    color: white;
    font-size: 500%;
    font-weight: bold;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.npc-hidden {
    display: none;
}

.npc-left {
    float: left;
}

.npc-right {
    float: right;
}

.npc-spinner, .npc-spinner-medium, .npc-spinner-small {
  border-color: #f3f3f3;
  border-style: solid;
  border-radius: 50%;
  border-top-color: $brand-primary;
  border-bottom-color: $brand-primary;
  border-top-style: solid;
  border-bottom-style: solid;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.npc-spinner-medium {
    border-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    width: 30px;
    height: 30px;
}

.npc-spinner-small {
    border-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    width: 15px;
    height: 15px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.up-street-input-wrapper {
    position: relative;
}

.up-street-input-wrapper .up-street-menu {
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: block;
}

.up-street-menu-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.up-street-menu-item {
    color: #555;
    text-decoration: none;
}

.up-street-menu-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.npc-tab-content {
    padding-top: 50px;
}

.npc-thumbnail-caption {
    background: #ffffff;
}

.npc-thumbnail-caption > a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.npc-thumbnail-caption > a:hover {
    text-decoration: none;
    color: #3097D1
}

.npc-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.npc-footer .npc-footer-box {
  margin: 20px 0;
  padding-right: 20px;

}

.npc-footer .npc-footer-box > li {
  list-style: none;

}

a.npc-footer-menu {
  font-size: small !important;
  color: black !important;
  font-weight: 200;
}

a.npc-active-menu-item {
    color: #ffffff !important;
}

.npc-section {
    background-color: white;
    color: black;
    padding: 20px;
}

.npc-section-content {
    font-size: 18px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
}

.npc-section-wrapper {
    padding: 0 20px;
}

.npc-section-wrapper.default-wrapper {
    background: #fff;
}

.npc-section-wrapper.alternate-wrapper {
    background: $brand-primary;
    color: white;
}

.npc-section-wrapper.default-wrapper,
 .npc-section-wrapper.alternate-wrapper {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    font-size: 30px;
}

.npc-section-wrapper.default-wrapper .btn,
 .npc-section-wrapper.alternate-wrapper .btn {
    font-size: 25px;
}

.npc-section-wrapper.alternate-wrapper .btn {
    color: black;
}

.npc-text {
    font-size: 18px !important;
    text-align: left !important;
}

.npc-section-wrapper.default-wrapper h2,
 .npc-section-wrapper.alternate-wrapper h2 {
    font-size: 40px;
    font-weight: 700 !important;
}

.npc-section-wrapper.default-wrapper > a:hover,
 .npc-section-wrapper.alternate-wrapper > a:hover {
    text-decoration: none;
    cursor: pointer;
}

.npc-map-background {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0.65) 100%),
     url("/img/npc_map_section_bkgrd.png") !important;
     color: white !important;
}

/**
* W3W Map
*/
#npc-map {
    width: 100%;
    height: 740px;
    margin-top: -22px;
}

#npc-infoWindowContent {
    padding-top: 15px;
}

/**
* End W3W Map
 */
